* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(141, 138, 138);
    align-items: center;
}

#member1, #member2, #member3, #member4, #member5, #member6, #member7, #member8, #member9 {
    margin-bottom: 6px;
}

#member1 {
    margin-top: 6px;
}

@media (max-width: 426px) {
    #center {
        min-height: 150vh;
        min-width: 60%;
    }

    
    #member1, #member2, #member3, #member4, #member5, #member6, #member7, #member8, #member9 {
         margin-bottom: 7px;
     }

    #member1 {
         margin-top: 7px;
     }

    }

@media (max-width: 769px) {
    #center {
        min-height: 150vh;
        min-width: 60%;
    }
}
    
